<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.restaurant_mobile_app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RestaurantMobileApp">
        <activity android:name=".AllInquiry" android:parentActivityName=".MainActivity" />
        <activity android:name=".EditInquiry" android:parentActivityName=".AllInquiry" />
        <activity android:name=".AddInquiry" android:parentActivityName=".AllInquiry" />
        <activity
            android:name=".BookingAll"
            android:parentActivityName=".TableList" />
        <activity
            android:name=".ViewBooking"
            android:parentActivityName=".BookingAll" />
        <activity
            android:name=".EditBooking"
            android:parentActivityName=".BookingAll" />
        <activity
            android:name=".AddBooking"
            android:parentActivityName=".TableList" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/Theme.RestaurantMobileApp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TableList"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ViewPayment"
            android:parentActivityName=".PaymentComplete" />
        <activity
            android:name=".PaymentComplete"
            android:parentActivityName=".Payment" />
        <activity
            android:name=".Payment"
            android:parentActivityName=".AboutUs" />
        <activity
            android:name=".ViewOrder"
            android:parentActivityName=".OrderComplete" />
        <activity
            android:name=".EditDelivery"
            android:parentActivityName=".OrderComplete" />
        <activity
            android:name=".OrderComplete"
            android:parentActivityName=".DeliveryOrder" />
        <activity
            android:name=".DeliveryOrder"
            android:parentActivityName=".PaymentComplete" />
        <activity
            android:name=".AboutUs"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CalPrice"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>